body {
    background-image: url('cookie.jpg');
    background-size: cover;
    background-position: center;
}

h1{
    color: purple;
    background-color: bisque;
}

p{
    color: white;
    background-color: teal;
}